<!-- <div id="main">
    <div id="header">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a routerLink="/hiring" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link active">Tuyển dụng</a>
            </li>
            <li class="nav-item">
                <a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Tin mới &
                    ưu đãi</a>
            </li>
            <li class="nav-item">
                <a routerLink="/myticket" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link ">Vé
                    của tôi</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link ">Đăng
                    nhập đăng ký</a>
            </li>
        </ul>
    </div>
</div> -->

<!-- <ng-container *ngIf="(asyncTabs | async) === null">
    Loading tabs...
  </ng-container>
  
  <mat-tab-group>
    <mat-tab *ngFor="let tab of asyncTabs | async">
      <ng-template mat-tab-label>{{tab.label}}</ng-template>
      {{tab.content}}
    </mat-tab>
  </mat-tab-group> -->
  <h2>Products</h2>

  <div *ngFor="let product of products">
  
    <h3>
      <a style="color: blue;" [routerLink]="['/myticket', product.id]" [title]="product.name + ' details'">
        {{ product.name }}
      </a>
    </h3>
  
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
  
    <button type="button" (click)="share()">
      Share
    </button>

    <app-login [product]="product"
    (notify)="onNotify($event)"
    >

    </app-login>
  
  </div>
