<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a style="color: blue;" [routerLink]="['/myticket', product.id]" [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>

  <app-login [product]="product" (notify)="onNotify($event)">

  </app-login>

</div>
<a routerLink="/news" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a>